/*
    This is like the main CSS for all websites, then we have custom style inline styles in the html files too
*/

body {
    background-color: #303030;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    padding: 10px;
    background-color: #606060;
    color: white;
    text-decoration: none;
    border: 1px solid black;
}

a:hover {
    padding: 11px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}